.square-wrap span {
  display: block;
  width: 25px;
  height: 25px;
  border: 3px solid #c1c1c1;
}

.number-wrap {
  align-self: center;
  margin-right: 15px;
  color: #673ab7;
}

.circle-wrap span {
  display: block;
  width: 25px;
  height: 25px;
  border: 3px solid #c1c1c1;
  border-radius: 50%;
}

.type-icon {
  align-self: center;
  margin-right: 10px;
}

.clear-answer {
  cursor: pointer;
  align-self: center;
}

mat-form-field {
  width: 100% !important;
}

.answer-wrap {
  display: flex;
  justify-content: space-between;
}
