<div
  class="answer-wrap d-flex"
  *ngFor="let answer of question.answers; let i = index"
>
  <div
    *ngIf="isTypeCheckbox(answer.fieldType.name)"
    class="square-wrap type-icon"
  >
    <span></span>
  </div>
  <div *ngIf="isTypeRadio(answer.fieldType.name)" class="circle-wrap type-icon">
    <span></span>
  </div>
  <div
    *ngIf="isTypeDropdown(answer.fieldType.name)"
    class="number-wrap type-icon"
  >
    <span>{{ i + 1 }}.</span>
  </div>
  <mat-form-field>
    <input
      matInput
      [value]="answer.value"
      (blur)="editAnswer($event.target.value, this.currentValue, i)"
      (focus)="setCurrentValueOnFocus($event.target.value)"
      [disabled]="answer.fieldType.isPredifined"
    />
  </mat-form-field>
  <div
    (click)="removeAnswer(answer, i)"
    class="clear-answer"
    *ngIf="!answer.fieldType.isPredifined"
  >
    <mat-icon class="clear-btn">clear</mat-icon>
  </div>
</div>
