.background {
  background-image: url("../../../../assets/bg.jpg"),
    linear-gradient(to right, #e100ff, #7f00ff);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
  //   background: #7F00FF;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-content {
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 90%;
  margin: 0 auto;
}

.form-container {
  // width: 400px;
  // max-width: 90%;
  flex: 1;
  box-shadow: 5px 5px 20px;
}

.title-container {
  flex: 1;
}

.title-shape {
  background: #8000ff93;
  padding-left: 100px;
  padding-right: 100px;
  height: 108%;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

.title-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.title-content h1 {
  font-size: 3rem;
  color: #17b9c3;
  padding: 0;
  margin: 0;
}

.title-content p {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #fff;
  text-align: right;
}

@media (max-width: 720px) {
  .title-container {
    display: none;
  }
}
