<div class="background">
  <div class="main-content">
    <div class="form-container"><router-outlet></router-outlet></div>
    <div class="title-container">
      <div class="title-shape">
        <div class="title-content">
          <h1>Surveyyy.com</h1>
        </div>
      </div>
    </div>
  </div>
</div>
