<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav role="navigation">
    <!-- <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header></app-header>
    <main class="container">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
