.input-row {
  display: block;
}

.form-container {
  width: 700px;
  max-width: 100%;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* margin-top: -30px; */
}

.form-container input {
  width: 100%;
}

.mat-form-field {
  display: block;
}

.form-header {
  margin-bottom: 20px;
}

.form-header h1.form-title {
  color: #673ab7;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 2px solid #673ab7;
  padding: 10px;
  font-weight: 500;
  display: block;
  margin-bottom: 30px;
}

.question {
  margin-bottom: 20px;
}

.form-wrap {
  z-index: 1000;
  position: relative;
}
