<div class="form-wrap" *ngIf="survey">
  <div class="form-container">
    <div class="form-header">
      <h1 class="form-title">{{ survey.title }}</h1>
    </div>
    <button
      *ngIf="survey.questions.length <= 0"
      mat-raised-button
      color="basic"
      (click)="appendFistQuestion()"
    >
      Add first question
    </button>
    <div class="input-row" *ngIf="survey && survey.questions">
      <app-question
        class="question"
        *ngFor="let question of survey.questions; let i = index"
        [question]="question"
        (click)="setActiveIdx(i)"
        (deleted)="addForDeletion(question)"
      ></app-question>
    </div>
    <button
      *ngIf="survey.questions.length > 0"
      mat-raised-button
      color="primary"
      (click)="saveQuestions()"
    >
      Save Questions
    </button>
  </div>
</div>
