<div class="question-wrap">
  <div class="">
    <div class="question-title-wrap">
      <div class="d-flex question-info">
        <h4 class="answerIdx">{{ question.order + 1 }}.</h4>
        <h2>{{ question.name }}</h2>
      </div>
    </div>
    <div [ngSwitch]="typeField" class="answers-wrap" *ngIf="appliedAnswer">
      <div *ngSwitchCase="'single-line'">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Your answer"
            [value]="appliedAnswer.textValue ? appliedAnswer.textValue : ''"
            #input
            (keyup)="updateAnswer(input, 'TEXT')"
          />
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'free-text'">
        <mat-form-field class="example-full-width">
          <textarea
            #textarea
            (keyup)="updateAnswer(textarea, 'TEXT')"
            [value]="appliedAnswer.textValue ? appliedAnswer.textValue : ''"
            matInput
            placeholder="Your answer"
          ></textarea>
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'yes-no'">
        <mat-radio-group
          aria-label="Select an option"
          (change)="updateAnswer($event, 'ANSWER ID')"
          #yesno
        >
          <mat-radio-button
            *ngFor="let answer of question.answers"
            name="yesno"
            [value]="answer._id"
            [checked]="answer._id === appliedAnswer.answerId"
            >{{ answer.value }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div *ngSwitchCase="'score-card'">
        <mat-radio-group
          #scoreCard
          aria-label="Select an option"
          aria-label="Select an option"
          (change)="updateAnswer($event, 'ANSWER ID')"
        >
          <mat-radio-button
            *ngFor="let answer of question.answers"
            [value]="answer._id"
            [checked]="answer._id === appliedAnswer.answerId"
            >{{ answer.value }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div *ngSwitchCase="'single-choice'">
        <mat-radio-group
          #singleChoice
          aria-label="Select an option"
          aria-label="Select an option"
          (click)="updateAnswer($event, 'ANSWER ID')"
        >
          <mat-radio-button
            *ngFor="let answer of question.answers"
            [value]="answer._id"
            [checked]="answer._id === appliedAnswer.answerId"
            >{{ answer.value }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div *ngSwitchCase="'multiple-choice'">
        <mat-checkbox
          *ngFor="let answer of question.answers"
          [value]="answer._id"
          [checked]="appliedAnswer.answerIds.includes(answer._id)"
          #checkbox
          (change)="updateAnswer(checkbox, 'ANSWER IDS')"
          >{{ answer.value }}</mat-checkbox
        >
      </div>
      <div *ngSwitchCase="'dropdown'">
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <mat-select
            #dropdown
            aria-label="Select an option"
            (selectionChange)="updateAnswer($event, 'ANSWER ID')"
            [value]="appliedAnswer.answerId"
          >
            <mat-option
              *ngFor="let answer of question.answers"
              [value]="answer._id"
            >
              {{ answer.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
