.question-wrap {
  border-left: 3px solid #673ab7;
  margin-bottom: 20px;
  padding: 20px 10px;
  // background: #f5f5f5;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.question-wrap:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.question-info {
  display: flex;
  flex-direction: row;
}

.answerIdx {
  font-size: 30px;
  color: #673ab7;
  margin: 0;
  margin-right: 10px;
  align-self: center;
}

.question-title-wrap {
  margin-bottom: 20px;
}

input,
textarea,
mat-form-field {
  width: 100%;
}

mat-radio-button,
mat-checkbox {
  margin-right: 10px;
}
