<div class="form-wrap" *ngIf="survey">
  <div class="form-container">
    <form>
      <div class="form-header">
        <h1 class="form-title">{{ survey.title }}</h1>
      </div>
      <div class="input-row" *ngIf="survey">
        <app-question-apply
          (valueChanged)="saveValue($event)"
          class="question"
          *ngFor="let question of survey.questions; let i = index"
          [question]="question"
          [appliedAnswer]="getAppliedAnswer(question._id)"
        ></app-question-apply>
      </div>
      <button
        *ngIf="survey.questions.length > 0"
        mat-raised-button
        color="primary"
        (click)="onSend()"
      >
        Save Questions
      </button>
    </form>
  </div>
</div>
