<form [formGroup]="registerForm" (ngSubmit)="onRegister()" novalidate>
  <mat-card class="register-card">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter your email"
          formControlName="email"
        />
        <mat-error *ngIf="registerForm.controls['email'].hasError('required')"
          >You must enter your email</mat-error
        >
        <mat-error *ngIf="registerForm.controls['email'].hasError('email')"
          >Not a valid email</mat-error
        >
      </mat-form-field>
      <!-- <mat-error *ngIf="emailExist">This email already exists</mat-error> -->
      <mat-form-field>
        <input matInput placeholder="Full name" formControlName="fullName" />
        <mat-error *ngIf="registerForm.controls['fullName'].invalid"
          >You must enter your full name</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.controls['password'].invalid"
          >You must enter a password</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Confirm your password"
          [type]="hide ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="registerForm.controls['confirmPassword'].hasError('required')"
          >You must confirm your password</mat-error
        >
        <mat-error
          *ngIf="
            registerForm.controls['confirmPassword'].hasError(
              'passwordsDontMatch'
            ) && registerForm.controls['confirmPassword'].value
          "
          >Passwords don't match</mat-error
        >
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Register</button>
      <div class="switch-login">
        <p>Already have an account? Login</p>
        <a [routerLink]="['../login']" routerLinkActive="router-link-active"
          >here.</a
        >
      </div>
    </mat-card-actions>
  </mat-card>
</form>
