<div class="question-wrap">
  <div class="">
    <div class="answers-wrap">
      <div class="d-flex question-info">
        <div class="answerIdx">
          <h4>{{ question.order + 1 }}.</h4>
        </div>
        <mat-form-field class="type-ans">
          <mat-select
            matNativeControl
            #type
            [value]="typeField"
            [ngModel]="getSelectedValue()"
            (ngModelChange)="onTypeFieldChange(type.value)"
          >
            <mat-option [value]="'single-line'">Short answer</mat-option>
            <mat-option [value]="'free-text'">Free text</mat-option>
            <mat-option [value]="'yes-no'">Yes/No</mat-option>
            <mat-option [value]="'score-card'">Score Card</mat-option>
            <mat-option [value]="'single-choice'">Single choice</mat-option>
            <mat-option [value]="'multiple-choice'">Multiple choice</mat-option>
            <mat-option [value]="'dropdown'">Dropdown list</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="quest-title-wrap">
        <input
          matInput
          [value]="question.name"
          #newTitle
          (input)="editTitle(newTitle.value)"
          class="quest-title"
        />
      </mat-form-field>
    </div>
    <div [ngSwitch]="typeField" class="answers-wrap">
      <div *ngSwitchCase="'single-line'">
        <app-answer-text
          [typeText]="'shortText'"
          (editedAnswer)="onEditedAnswer($event)"
        ></app-answer-text>
      </div>
      <div *ngSwitchCase="'free-text'">
        <app-answer-text
          [typeText]="'freeText'"
          (editedAnswer)="onEditedAnswer($event)"
        ></app-answer-text>
      </div>
      <div *ngSwitchCase="'yes-no'">
        <app-answer
          [question]="question"
          (editedAnswer)="onEditedAnswer($event)"
        ></app-answer>
      </div>
      <div *ngSwitchCase="'score-card'">
        <app-answer
          [question]="question"
          (editedAnswer)="onEditedAnswer($event)"
        ></app-answer>
      </div>
      <div *ngSwitchCase="'single-choice'">
        <app-answer
          [question]="question"
          (editedAnswer)="onEditedAnswer($event)"
        ></app-answer>
      </div>
      <div *ngSwitchCase="'multiple-choice'">
        <app-answer
          [question]="question"
          (editedAnswer)="onEditedAnswer($event)"
        ></app-answer>
      </div>
      <div *ngSwitchCase="'dropdown'">
        <app-answer
          [question]="question"
          (editedAnswer)="onEditedAnswer($event)"
        ></app-answer>
      </div>
    </div>
    <div
      *ngIf="
        type.value == 'single-choice' ||
        type.value == 'multiple-choice' ||
        type.value == 'dropdown'
      "
    >
      <mat-form-field class="ans-input-field">
        <input
          class="ans-input"
          placeholder="Type new option here"
          matInput
          #newAnswer
          (keyup.enter)="addAnswer(newAnswer.value); newAnswer.value = ''"
        />
      </mat-form-field>
    </div>
    <div class="actions-container d-flex">
      <div class="btn-wrap">
        <mat-slide-toggle
          color="primary"
          (change)="setRequired()"
          [(ngModel)]="required"
          >Required</mat-slide-toggle
        >
        <mat-icon class="clear-btn" (click)="removeQuestion()">delete</mat-icon>
        <mat-icon class="" (click)="appendQuestion()">library_add</mat-icon>
      </div>
    </div>
  </div>
</div>
