.question-wrap {
  border-left: 2px solid #673ab7;
  padding-left: 20px;
  margin-left: -20px;
  margin-bottom: 40px;
}

.answerIdx {
  margin-left: -20px;
  color: #fff;
  height: 30px;
  padding: 0;
}

.answerIdx h4 {
  width: 50px;
  max-width: 100%;
  line-height: 30px;
  background: #673ab7;
  padding-left: 10px;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}

.answers-wrap {
  width: 100%;
}

.quest-title {
  color: #673ab7;
  font-size: 20px;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
}

mat-icon {
  cursor: pointer;
  color: #b6b6b6;
}

mat-slide-toggle {
  color: #b6b6b6;
  font-size: 14px;
  margin-right: 15px;
}

mat-form-field.ans-input-field {
  width: 100% !important;
}

.type-ans {
  width: 200px;
  max-width: 100%;
}

.question-info {
  justify-content: space-between;
}

.quest-title-wrap {
  width: 100%;
}
