<form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
  <mat-card class="register-card">
    <mat-card-title>Login</mat-card-title>
    <div class="user-image">
      <div class="user-image-container"></div>
    </div>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter your email"
          formControlName="email"
        />
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')"
          >You must enter your email</mat-error
        >
        <mat-error *ngIf="loginForm.controls['email'].hasError('email')"
          >Not a valid email</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls['password'].invalid"
          >You must enter your password</mat-error
        >
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Login</button>
      <div class="switch-register">
        <p>No account? Create one</p>
        <a [routerLink]="['../register']" routerLinkActive="router-link-active"
          >here.</a
        >
      </div>
    </mat-card-actions>
  </mat-card>
</form>
