mat-form-field {
  display: block;
}

.user-image {
  width: 100%;
}

.user-image-container {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  background-image: url("../../../../../assets/user_img/icons8-bald-man-in-green-jacket.png");
  animation-name: changeUserImg;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-direction: alternate-reverse;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes changeUserImg {
  0% {
    background-image: url("../../../../../assets/user_img/icons8-bald-man-in-green-jacket.png");
  }
  10% {
    background-image: url("../../../../../assets/user_img/icons8-blond-curly-hair-business-lady.png");
  }
  20% {
    background-image: url("../../../../../assets/user_img/icons8-brown-curly-hair-lady-in-light-green-shirt.png");
  }
  30% {
    background-image: url("../../../../../assets/user_img/icons8-indian-lady.png");
  }
  40% {
    background-image: url("../../../../../assets/user_img/icons8-long-curly-hair-lady-with-glasses.png");
  }
  50% {
    background-image: url("../../../../../assets/user_img/icons8-man-in-blue-t-shirt.png");
  }
  60% {
    background-image: url("../../../../../assets/user_img/icons8-man-in-green-sweater.png");
  }
  70% {
    background-image: url("../../../../../assets/user_img/icons8-man-in-yellow-striped-sweater.png");
  }
  80% {
    background-image: url("../../../../../assets/user_img/icons8-man-with-beard-in-suit.png");
  }
  90% {
    background-image: url("../../../../../assets/user_img/icons8-man-with-beard-in-violet-shirt.png");
  }
  // 100% {
  //   background: url("../../../assets/user_img/icons8-man-with-brown-hair-in-green-sweater.png");
  // }
}
