<h1 mat-dialog-title>Create Survey</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.title" placeholder="Title" />
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.description" placeholder="Description" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    Create Survey
  </button>
</div>
