<div class="background-diagonal">
  <mat-toolbar class="navigation" color="primary">
    <div class="container">
      <div class="app-logo">
        <a routerLink="/">Surveyyy.com</a>
      </div>
      <div class="navigation-container hide-mobile">
        <ul class="navigation-items">
          <li>
            <a [routerLink]="['/surveys']">Surveys</a>
          </li>
          <li>
            <a [routerLink]="['/logout']">Log out</a>
          </li>
        </ul>
        <!-- <app-right-menu></app-right-menu> -->
      </div>
    </div>
    <!-- <div class="toggle-button hide-desktop"> -->
    <!-- <button mat-icon-button (click)="onMenuToggle()">       </button> -->
    <!-- </div> -->
  </mat-toolbar>
</div>
