.sidenav-container {
  height: 100%;
}

.container {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
}

.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }

  .app-logo a {
    color: #fff;
    color: #03dac6;
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
  }
}

.navigation-items {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 100;

  li {
    display: inline-block;
    margin: 3px 3px;
    border-bottom: 1px solid #03dac6;
    cursor: pointer;
    text-align: left;
  }

  a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;

    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
  }
}

.navigation-container {
  display: flex;
}

.background-diagonal {
  background: #673ab7;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  height: 30vh;
  margin-bottom: -15vh;
  position: relative;
}
