<div class="table-top">
  <h1 class="view-title">Surveys</h1>
  <!-- <button mat-raised-button color="basic" [routerLink]="['/employees/create']"> -->
  <button mat-raised-button color="basic" (click)="onCreateSurvey()">
    Create Form
  </button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let survey">{{ survey.title }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let survey">{{ survey.description }}</td>
  </ng-container>

  <ng-container matColumnDef="dateCreated">
    <th mat-header-cell *matHeaderCellDef>Date created</th>
    <td mat-cell *matCellDef="let survey">{{ survey.dateCreated | date }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let survey" class="action-btns">
      <button
        mat-icon-button
        *ngIf="isLoggedUserAuthor(survey.userId)"
        [routerLink]="['/surveys', 'edit', survey._id]"
      >
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button
        mat-icon-button
        *ngIf="isLoggedUserAuthor(survey.userId)"
        (click)="onDeleteSurvey(survey._id)"
      >
        <mat-icon color="warn">delete</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/surveys', 'apply', survey._id]">
        <mat-icon color="accent">Apply</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
