table {
  width: 100%;
}

.view-title {
  color: #03dac6;
  font-size: 34px;
  font-weight: 300;
}

.table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 0 20px;
  }
}
